<html>
  <body>
    <div>
      <p>Hello <%= @email %>,</p>
      <p>A ticket (<%= @ticket.id %>) you are involved in has received a reply. <a target="_blank" href="<%= @referrer %>/help/support/tickets/<%= @ticket.id %><%= is_guest_email(@email) ? '?key=' + @ticket.key : '' %>">View the ticket here</a>.</p>

      <pre><%= @reply.body %></pre>

    </div>
  </body>
</html>
